.input-box {
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
}

.input-label {
  padding: 0.1rem 0.25rem;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
}

.input-component {
  padding: 0.25rem 0.75rem;
}
