.compilation-wrapper {
  margin: 1rem;
  border-width: 1px;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  width: 40rem;

  &.compilation-list {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .button-wrapper {
      display: flex;
      gap: 1rem;
    }
  }
}
